<nb-card >
  <nb-card-header>Quick Buttons</nb-card-header>
  <nb-card-body>
  <div class="row">
    <div class="btn-with-icon-example">
      <button type="button" class="btn  btn-primary btn-with-icon">
        <i class="nb-list"></i>
        <span>View Fields</span>
      </button>
    </div>
    <div class="btn-with-icon-example">
      <button type="button" class="btn  btn-primary btn-with-icon">
        <i class="nb-edit"></i>
        <span>Create Field</span>
      </button>
    </div>
    <div class="btn-with-icon-example">
      <button type="button" class="btn  btn-primary btn-with-icon">
        <i class="nb-plus-circled"></i>
        <span>Add Income</span>
      </button>
    </div>
    <div class="btn-with-icon-example">
      <button type="button" class="btn  btn-primary btn-with-icon">
        <i class="ion-minus-round"></i>
        <span>Add Expense</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="btn-with-icon-example">
      <button type="button" class="btn  btn-primary btn-with-icon">
        <i class="nb-rainy"></i>
        <span>View Weather</span>
      </button>
    </div>
    <div class="btn-with-icon-example">
      <button type="button" class="btn  btn-primary btn-with-icon">
        <i class="nb-home"></i>
        <span>Analytics</span>
      </button>
    </div>
    <div class="btn-with-icon-example">
      <button type="button" class="btn  btn-primary btn-with-icon">
        <i class="fa fa-briefcase"></i>
        <span>View income</span>
      </button>
    </div>
    <div class="btn-with-icon-example">
      <button type="button" class="btn  btn-primary btn-with-icon">
        <i class="ion-document-text"></i>
        <span>View Expense</span>
      </button>
    </div>
  </div>
</nb-card-body>
</nb-card>